<div id="<%= dom_id bookmark %>">
  <p>
    <strong>Href:</strong>
    <%= bookmark.href %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= bookmark.desc %>
  </p>

  <p>
    <strong>Add date:</strong>
    <%= bookmark.add_date %>
  </p>

  <p>
    <strong>Last modified:</strong>
    <%= bookmark.last_modified %>
  </p>

</div>
