<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= user_in_session %>
<p><%= user_in_session.name %>さん</p>
<ul>
<li><%= link_to("サインアウト", sign_out_path) %></li>
</ul>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
