<div id="<%= dom_id page %>">
  <p>
    <strong>Name:</strong>
    <%= page.name %>
  </p>

  <p>
    <strong>String,:</strong>
    <%= page.string, %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= page.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= page.text %>
  </p>

</div>
